# Varicella Analysis and Clean Data Exploration

## Below is the code, analysis and visualization comparing the Varicella (Chicken Pox) Vaccine injuries against the drop in cases during the progression of the Varicella Vaccine Program.

In [1]:
import pandas as pd

In [2]:
# Import the complete clean vaers data from 1990 to 2022
vaers_all = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/vaers_all.csv')

C:\Users\chris\AppData\Local\Temp\ipykernel_15040\2034063615.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  vaers_all = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/vaers_all.csv')

In [3]:
# Import the recorded number of Varicella Cases
varicella_cases = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/varicella_cases.csv')

In [4]:
# Prepare notebook to view data
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Explore data a merge the information for visualization. 

## * vaers_all

In [5]:
vaers_all.columns

Index(['Unnamed: 0', 'VAERS_ID', 'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_NAME',
       'AGE_YRS', 'STATE', 'SYMPTOM_TEXT', 'DIED', 'ER_VISIT', 'Year'],
      dtype='object')

In [6]:
vaers_all.head()

,Unnamed: 0,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_NAME,AGE_YRS,STATE,SYMPTOM_TEXT,DIED,ER_VISIT,Year
0,0,25001,DTP,CONNAUGHT LABORATORIES,9Q01042,DTP (NO BRAND NAME),0.2,WI,Loud intense cry with screaming for 1 1/2 hrs....,NaN,NaN,1990
1,1,25003,DTP,LEDERLE LABORATORIES,259962,DTP (TRI-IMMUNOL),0.8,TX,"Hypotonic, Hyporesponsive episode, Infant died...",Y,NaN,1990
2,2,25003,OPV,PFIZER\WYETH,241950,"POLIO VIRUS, ORAL (ORIMUNE)",0.8,TX,"Hypotonic, Hyporesponsive episode, Infant died...",Y,NaN,1990
3,3,25004,OPV,PFIZER\WYETH,232961,"POLIO VIRUS, ORAL (ORIMUNE)",0.9,NY,"Pt developed chills for approx. 1 hr, felt ach...",NaN,NaN,1990
4,4,25005,TD,LEDERLE LABORATORIES,247955,TD ADSORBED (NO BRAND NAME),NaN,OK,7 patients within 2 weeks have reported joint ...,NaN,NaN,1990

In [7]:
vaers = vaers_all[['Year', 'VAX_NAME', 'VAERS_ID']]

## * varicella_cases

In [10]:
# Varicella_cases represents the number of actual Chicken Pox cases (Varicella) from 1993 to 2021

pox_cases = varicella_cases[['Year', 'Number_of_Cases']]

In [14]:
pox_cases

    Year  Number_of_Cases
0   1993           134722
1   1994           151219
2   1995           120624
3   1996            83511
4   1997            98727
5   1998            82455
6   1999            46016
7   2000            27382
8   2001            22536
9   2002            22841
10  2003            20948
11  2004            32931
12  2005            32242
13  2006            48445
14  2007            40146
15  2008            30386
16  2009            20480
17  2010            15427
18  2011            14513
19  2012            13447
20  2013            11359
21  2014            10172
22  2015             9789
23  2016             8953
24  2017             8775
25  2018             8201
26  2019             8297

In [12]:
pox_cases.to_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/varicella_cases.csv')

In [6]:
import jupytab as jpy

In [2]:
%%html
<div class='tableauPlaceholder' id='viz1677275432772' style='position: relative'><noscript><a href='#'><img alt='Varicella Cases vs. Vax Injuries ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Va&#47;Varicella&#47;VaricellaCasesvs_VaxInjuries&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Varicella&#47;VaricellaCasesvs_VaxInjuries' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Va&#47;Varicella&#47;VaricellaCasesvs_VaxInjuries&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1677275432772');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>